<% include ../partials/header %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center">Edit <%= book.name %></h1>
    <div style="width: 30%; margin: 25px auto">
      <form action="/books/<%= book._id %>?_method=PUT" method="post">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="book[name]"
            value="<%= book.name %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="number"
            name="book[price]"
            value="<%= book.price %>"
            min="0.01"
            step="0.01"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="book[image]"
            value="<%= book.image %>"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="book[description]"
            value="<%= book.description %>"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit!</button>
        </div>
      </form>
      <a href="/books">Go Back!</a>
    </div>
  </div>
  <% include ../partials/footer %>
</div>
