<% include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image%>" alt="">
            <div class="container">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
        </div>
        <a class="ui green button" href="/blogs/<%=blog._id %>/edit">Edit</a>
        <form id="delete" class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui red button">Delete</button>
        </form>
    </div>
    
    
    
</div>
<% include ./partials/footer %>